.container {
  max-width: 40rem;
  height: auto;
  border: 0.1rem solid grey;
  margin: 0 auto;
  background: white;
  margin-top: 5rem;
}

.layerOne,
.layerTwo,
.layerThree,
.layerFour {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.layerTwo {
}
.layerThree {
}
.layerFour {
}
